<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cinema.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cinema.address %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @cinema.webpage %>
</p>

<p>
  <strong>Promotion name:</strong>
  <%= @cinema.promotion_name %>
</p>

<p>
  <strong>Promotion desc:</strong>
  <%= @cinema.promotion_desc %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @cinema.enabled %>
</p>

<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
